extends ../../layouts/default.pug

block content
    .container.my-3 
        .box-head 
            h2.inner-title Bài hát yêu thích
        if favoriteSong.length
            .grid-songs
                each song in favoriteSong
                    .song-item
                        .inner-image
                            a(href=`/songs/detail/${song.infoSong.slug}`)
                                img(src=song.infoSong.avatar)
                        .inner-content
                            .inner-title
                                a(href=`/songs/detail/${song.infoSong.slug}`) #{song.infoSong.title}
                            .inner-singer 
                                i(class="fa-solid fa-microphone-lines") 
                                |  #{song.infoSinger.fullName}
                            .inner-favorite(button-favorite=song.infoSong._id) 
                                i(class="fa-solid fa-heart") 
                                |  Yêu thích

                            .inner-time 
                                i(class="fa-regular fa-clock") 
                                |  Hôm nay
        else
            p.text-muted Bạn chưa có bài hát yêu thích nào.
